
 font-family: arial, sans-serif;
      background-color: #393499;
      margin: 0;
      padding: 0;
    }

    #header {
      background-color: #000000;
      color: #706766;
      text-align: center;
      padding: 10px;
    }

    #profile-image {
      max-width: 150px;
      border-radius: 100%;
      display: inline;
      margin: auto;
      padding: 100%;
      margin-left: 150%px;
    }

    #main-content {
      padding: 50px;
    }
